<!DOCTYPE html>
<html>
<head>
  <title>Parcel Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Parcel Tracker</h1>
    <p>Enter the information about your parcel:</p>

    <form action="/triangle_answer" method="post">
      <div class="form-group">
        <label for="name">Enter the name</label>
        <input name="name" class="form-control" type="number">
        <label for="weight">Enter the weight of your parcel</label>
        <input name="weight" class="form-control" type="number">
        <label for="length">Enter the length of your parcel</label>
        <input name="length" class="form-control" type="number">
        <label for="height">Enter the height of your parcel</label>
        <input name="height" class="form-control" type="number">
        <label for="width">Enter the width of your parcel</label>
        <input name="width" class="form-control" type="number">
      </div>
      <button type="submit" class="btn">Check your parcel</button>
    </form>


  </div>
</body>
</html>
